*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.first-banner{
  margin-top: 10px;
}
.first-banner .row .logo{
  width: 25%; 
  float: left; 
}
.first-banner .row .bannerr{
  width: 75%;
  float: left;
  padding-left: 7%;
}
.first-banner .row .move{
  width: 33.33333%;
  float: left;
  margin-top: 15px;

}
.first-banner .row .move img{
  float: left;  
  text-align: center;
  padding-right: 10px;
}
.first-banner .row .move img:first-child{
  padding-top: 4px;
}
.logo{
  text-align: center;
}
@media screen and (max-width: 576px)
{
  .move ,.shop{
    display: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px)
{
  .move{
    display: none;
  }
  .shop{
    display:none;
  }
  .logo{
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px)
{
  .move{
    width: 33.333333%;
    float: left;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px)
{
  .first-banner .row .bannerr{
    width: 100%;
    margin: 20px auto;

  }
  .first-banner .row .logo{
    margin: auto;
  }
  .first-banner .row .logo img{
    display: block;
    margin :auto;
  }
}
.cart{
  color : #FF5337!important;
  font-weight: 700;
}



.navbar-inverse {
  background-color: #80BB35;
  margin-top: 15px;
  border: none;
  font-size: 16px;
}
.navbar.navbar-inverse ul li a{
  color: black;
}
.navbar.navbar-inverse ul li a:hover{
  color : white;
}

.navbar-inverse .navbar-toggle {
  border-color: #fffafa;
}
.navbar-inverse .navbar-toggle:hover ,.navbar-inverse .navbar-toggle:active ,.navbar-inverse .navbar-toggle:visited , .navbar-inverse .navbar-toggle:focus{
  background-color: #80BB35;
}
.small-banner{
  margin-top: 15px;
}
.sanpham h4{
  display: block;
  height: 40px;
  line-height: 40px;
  border-radius : 40px ;
  text-align: center;
  background-color: #80BB35;
}
.sanpham li{
  list-style-type: none;
  display: block;
  height: 30px;
  line-height: 30px;
}
.sanpham li a {
  color : black;
  font-weight: 500;
}
.sanpham li a:hover{
  color :#80BB35;
}
.sanpham li a i{
  margin-left: 10px
}
.list-fruit{
  margin-top: 35px;
}
/*slide*/
.slide {
  position: relative;
  margin: auto;
}

.slide-item {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.circle {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.actived, .circle:hover {
  background-color: #717171;
}

.noname {
  -webkit-animation-name: noname;
  -webkit-animation-duration: 1.5s;
  animation-name: noname;
  animation-duration: 1.5s;
}

@-webkit-keyframes noname {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes noname {
  from {opacity: .4}
  to {opacity: 1}
}

/*san pham*/
.sanpham_1{
  margin-top: 15px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #80BB35;
}
.title{
  background-color: #80BB35 ;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
}
.list-fruits{
  margin-top: 10px;
}
.list-fruits .one-fruit{
  text-align: center;
  border : 1px solid #DEDBDB;
  border-radius : 20px;
  margin-bottom: 10px;
}
.list-fruits .one-fruit > a:nth-child(2)
{
  color: black;
}
.list-fruits .one-fruit > a , .list-fruits .one-fruit>p{
  transition: 1s;
}
.list-fruits .one-fruit > p{
  color: orange;
  font-weight: 700;
}
.list-fruits .one-fruit{
  position: relative;
  padding-top : 15px;
}
.sale1{
  padding : 5px;
  position: absolute;
  top : 20px;
  left: 0;
  background-color: orange;
}

.xuatxu{
  position: absolute;
  bottom :0;
  background-color: #f5f5f5;
  height: 50%;
  width: 100%;
  bottom: 0;
  transition: 1s;
  opacity: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.list-fruits .one-fruit > a{
  display: block;
}
.list-fruits .one-fruit:hover > a:nth-child(2) , .list-fruits .one-fruit:hover > p{
  opacity: 0;
}
.list-fruits .one-fruit:hover > .xuatxu
{
  opacity: 1;
}
.list-fruits .one-fruit > a > img{
  transition: .4s ease-in-out;
}
.list-fruits .one-fruit:hover > a > img{
  opacity: .4;
}
.empty{
  padding : 20px 10px;
}

.banner-duoi{
  margin-top: 15px;
}
.banner-duoi img{
  border-radius : 20px;
  margin-top: 10px;
}

.title1 h2{
  height: 40px;
  width: 300px;
  line-height: 40px;
  margin: 30px auto;
  text-align: center;
  background-color: #80BB35;
  border-radius : 30px;
}
.newss{
  margin-top: 15px;
}
.news{
  border : 1px solid #E0D9D9;
  padding : 5px;
  margin-top: 5px;
}
.news h4 , .news p{
  text-align: center;
  font-size: 16px;
}
.news a{
  text-align: center;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  line-height: 30px;
  display: block;
  background-color: #80BB35;
  border-radius: 30px;
  color : white;
  font-weight: 700;
  font-size: 18px;
}
a:hover , a:focus , a:visited , a:active{
  text-decoration: none;
}

.brand {
  margin-top: 15px;
}
.footer{
  margin-top: 30px;
  background-color: #80BB35; 
  color:white;
}
.footer .footer-left ,.footer .footer-right{
  float: left;
  width: 50%;
  text-align: center;
}

